.category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 25px;
    margin: 0 auto;
    justify-content: center;
}

.category__header {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: mediumseagreen;
}

.category__product {
    display: grid;
    max-width: 180px;
    border: 5px solid orangered;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-gap: 7px;
    font-size: 15px;
    font-weight: bold;
}

.category__product_link {
    text-decoration: none;
    color: deepskyblue;
}

.category-wrapper {
    margin: 0 auto;
}

.category__filters {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    border-bottom: 3px solid darkorange;
}

.category__filters_filter {
    display: grid;
    justify-self: center;
    font-size: 15px;
    font-weight: 600;
}

.category__search-label {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    font-size: 20px;
    color: deeppink;
    font-weight: 800;
}

.category__search-input {
    height: 30px;
    width: 150px;
    font-size: 18px;
    line-height: 20px;
}

.category__search-input::placeholder {
    font-size: 15px;
}

.category__error,
.category__loading {
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: crimson;
}

.category__loading {
    margin-top: 100px;
}